body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;

}

.titleStyle{
  font-family: "Roboto Light";
  font-style: italic;
  font-size: 45px;
  margin-bottom: 50px;
  border-bottom: 1px grey solid;
}
.eFundtitleStyle{
  font-family: "Roboto Light";
  font-style: italic;
  font-size: 35px;
  margin-bottom: 25px;
  border-bottom: 1px grey solid;
}
#efundIntro{
  font-family: "Roboto Light";
  font-size: 18px;
  margin-bottom: 50px;
  color: black;
}
#efundIntro:hover{
  color: black;
}
.resultTitle{
  font-family: "Roboto Light";
  font-style: italic;
  font-size: 45px;
  border-bottom: 1px grey solid;
  margin-bottom: 0px;
}
.roboto{
  font-family: "Roboto", sans-serif;
}

.robotoLight{
  font-family: "Roboto Light";
}
.inputDesc{
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 16px;

}
.inputText{
  font-family: "Roboto Thin";
  font-size: 16px;
  font-style: italic;
}
.inputText:hover{
  background-color: ghostwhite;
  font-weight: bold;
  font-style: revert;
}
.resultHeader{
  font-family: "Roboto Light";
  font-size: 24px;

}
.resultSubheader{
  font-family: "Roboto Light";
  font-size: 18px;
}
.result{
  font-family: roboto;
  font-size: 18px;
  background-color: white;
  border: darkgrey 1px solid;
}
.efundResultHead{
  font-family: "Roboto Thin";
  font-size: 20px;
  font-style: italic;
  margin-bottom: 0;
}
.headerSummary{
  font-size: 24px;
  font-style: italic;
  margin-left: 42px;
  margin-bottom: 0px;
}
.efundSubheader{
  font-family: "Roboto Light";
  font-size: 28px;
}
.efundComment{
  font-family: "Roboto Light";
  font-size: 18px;
  font-style: italic;
}
.textArea{
  font-size: 18px;
  color: #4d4d4d;
  background-color: #fff1cc;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  width: 200px;
}
.buttonColor{
  font-family: "Roboto Light";
  color: #ff7f45;
  background-color: white;
  border: #ff7f45 1px solid;
  border-radius: 8px;
}
.buttonColor:hover{
  background-color: #ff7f45;
  color: black;
  border: black 1.5px solid;
}
.disclaimer{
  font-size: 13px;
  margin-top: 0;
  color: #4a4a4a;
  font-family: "Roboto Thin", sans-serif;
}
.color-nav{
  color: rgba(75,192,192,1)
}
.lavender{
  background-color: #4C5B61;
  color:white
}
.banner{
  min-height: 35vh;
}

#champange{
  background-color: #F5DBCB;
  color: #F5DBCB;
}
#homequote{
  margin-top: 10px;
  animation: fadeIn 4s;
  color: #F5DBCB;
  padding: 20px 90px;
  font-family: "Roboto Light";
  font-size: 24px;
  font-style: italic;
}
@keyframes fadeIn {
  0%{opacity:0;}
  100%{opacity: 1;}
}
#background{
  background-color: #00d5d6;
  height: 100vh;
  width: 100vw;
  color: whitesmoke;
}
#homepageTwo{
  background-color: #F5DBCB;
}
#addButton{
  font-family: "Roboto Light";
  margin-left: 5px;
  color: #00d5d6;
  border-radius: 8px;
  border: #00d5d6 2px solid;
  background-color: white;
  height: 50%;
}
/*#addButton:hover{*/
/*  background-color: #00d5d6;*/
/*  color: black;*/
/*  border: black 1.5px solid;*/
/*}*/
#removeButton{
  font-family: "Roboto Light";
  margin-left: 5px;
  color: #ff7f45;
  border-radius: 8px;
  border: #ff7f45 2px solid;
  background-color: white;
  height: 50%;
}
.calcButton{
  font-family: "Roboto";
  font-size: 14px;
  margin-left: 5px;
  color: #00be67;
  border-radius: 8px;
  border: #00be67 3px solid;
  background-color: white;
  height: 40%;
}
.calcButton:hover{
  color: #00e68c;
  border: #00e68c 3px solid;
  font-size: 16px;
}
/*#removeButton:hover{*/
/*  background-color: #ff7f45;*/
/*  color: black;*/
/*  border: black 1.5px solid;*/
/*}*/

#title{
  margin-top: 35px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
}
#subtitle{
  font-weight: lighter;
  font-style: italic;
  font-weight: lighter;
  font-family: "Roboto Light", sans-serif;
  font-size: 24px;
}

.overlay{
  position: absolute;
  top:800px;
  left: 670px;
  font-weight: lighter;
  font-size: 12px;
  margin-right: 50px;
  color: #4a4a4a;
  padding: 5px 20px;
}
.overlay:hover{
  background-color: ghostwhite;
  border-radius: 5px;
  opacity: 0.5;
  color: black;
  font-weight:initial;
}
#bg-2{
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
}
.nav-dropdown{
  color: red;
  font-weight: bold
}

#responsive-nav-dropdown{
  color: black;
}
.blacktext{
  color: black;
}

.avatar{
  color: forestgreen ;
  border: 1px solid black;
  border-radius: 150px;
  font-weight: bold;
}
.dropdown-item{
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
